@import "variables";

*::-webkit-scrollbar {
  width: 8px;

  &-thumb {
    background-color: $primary-color;
  }
}

body {
  background-color: $gray;
}

.mxwd {
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
}

div.disclaimer {
  display: none !important;
}
