@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'myriad-pro', sans-serif;
  color: $black;
  transition: .3s;

  &::selection {
    background-color: $primary-color;
    color: #fff;
  }
}

ul,
li {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  box-shadow: none;
  outline: none;
}

img {
  object-fit: cover;
}

button {
  cursor: pointer;
}
