@import "variables";

.container {
  width: 100%;
}

.background {
  background-image: url(../../../assets/resources/saludo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  width: 100%;
  height: 450px;
  filter: brightness(70%);
}

.content-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .info {
    position: absolute;
    z-index: 9;
    width: 100%;
    padding: 1rem;

    .subtitle {
      font-size: 28px;
      color: #fff;
      font-weight: 500;
      margin-top: 3rem;
    }
  }

  .title {
    color: #fff;
    font-weight: 500;
    font-size: 55px;

    &::after {
      content: "";
      display: block;
      width: 150px;
      height: 5px;
      margin-top: 3rem;
      background-color: $primary-color;
    }
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 8rem 2rem;

  .content-image {
    display: none;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 200px 1px 134px -51px rgba(245, 245, 245, 1) inset;
    }
  }

  .paragraph {
    b {
      color: $primary-color;
    }
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .content-image {
      &::after {
        box-shadow: -200px 7px 108px -23px rgba(245, 245, 245, 1) inset;
      }
    }
  }

  img {
    width: 100%;
    min-width: 35vw;
    max-width: 720px;
    height: 100%;
    max-height: 550px;


  }

  .paragraph {
    font-size: calc(18px + 1.8vw);
    line-height: calc(18px + 2.7vw);
    display: block;
    max-width: 642px;
    padding: 2rem;
    text-align: center;
  }
}

.subtitle {
  &.info {
    font-size: 42px;
    font-weight: 600;
    margin: 2rem 1rem;
    text-align: center;
    color: $primary-color;
  }
}

.button-show-more {
  margin: auto;
  background-color: $primary-color;
  color: #fff;
  text-align: center;
  min-width: 150px;
  display: block;
  margin: 4rem auto;
  font-size: 18px;
  border-radius: 50px;
  height: 50px;
  font-weight: 500;
}

.content-info.max-height {
  max-height: 1000px;
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 1px -200px 86px -44px $gray inset;
  }
}


@media (min-width: 1280px) {
  .section {
    padding: 10rem 2rem;

    .paragraph {
      font-size: 35px;
      line-height: 50px;
      padding: 4rem;
      text-align: left;
      min-width: calc(640px + 7vw);
    }

    .content-image {
      display: block;
    }

    &-info {
      display: flex;
      flex-direction: row;

      &.reverse {
        flex-direction: row-reverse;

        .content-image {
          &::after {
            display: block;
            box-shadow: -200px 1px 134px -51px rgba(245, 245, 245, 1) inset;
          }
        }
      }
    }
  }
}

.section-info {
  padding: 1rem;
  margin-bottom: 2rem;

  @media (max-width:1279px) {
    display: flex;
    flex-direction: column-reverse !important;

    .content-image {
      display: block;

      img {
        max-width: 140px;
        min-width: 180px;
      }

      &::after {
        display: none;
      }
    }
  }

}

.section-info .reverse {
  flex-direction: column-reverse;
}

.content-image.pilares {
  @media (max-width: 1279px) {
    img {
      max-width: 480px !important;
      min-width: 100% !important;
    }
  }

  &::after {
    display: none !important;
    box-shadow: none !important;
    content: none !important;
  }
}

.digital-platform-image {
  display: block;
  margin: 3rem auto;
  padding: 1rem;
  width: 100%;
  max-width: 920px;
  height: auto;
}

.content-business {
  margin-bottom: 4rem;

  .purposes {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;

    &>div {
      max-width: 420px;

      .paragraph {
        font-size: clamp(18px, 4vw, 24px);

        &.txt {
          text-align: justify;
        }
      }

      .list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;

        li {
          display: flex;
          flex-direction: row;
          gap: 10px;

          &::before {
            content: "";
            width: 10px;
            min-width: 10px;
            height: 10px;
            background-color: $primary-color;
            border-radius: 50%;
            transform: translateY(8px);
          }
        }
      }
    }
  }
}
