<div class="container">
  <div class="content-title">
    <div class="info">
      <h2 class="title mxwd">{{ "Nosotros" | translate }}</h2>
      <h3 class="subtitle mxwd">
        {{ "Red Internacional Financiera" | translate }}
      </h3>
    </div>
    <div class="background"></div>
  </div>
  <section class="section" @enter>
    <p class="paragraph">
      {{
        "Plataforma de excelencia financiera, innovadora y disruptiva que ayuda a
      cambiar y consolidar el capital que necesitas para la realización de tus
      proyectos."
          | translate
      }}
    </p>
    <div class="content-image">
      <img src="assets/resources/money.jpg" alt="money" />
    </div>
  </section>

  <div class="content-business">
    <h2 class="subtitle info">{{ "Nuestro propósito" | translate }}</h2>
    <div class="purposes">
      <div>
        <h2 class="subtitle info">{{ "Visión" | translate }}</h2>
        <p class="paragraph txt">
          {{
            "En el 2030, convertirnos en una de las compañías financieras mas importantes del mundo, contribuyendo en el desarrollo de las economías de los países, proveyendo los recursos monetarios necesarios a empresas publicas y privadas con el objetivo de construir una mejor sociedad con mas oportunidades y mejor calidad de vida para las personas." | translate
          }}
        </p>
      </div>
      <div>
        <h2 class="subtitle info">{{ "Misión" | translate }}</h2>
        <p class="paragraph txt">
          {{
            "Usar la innovación y las finanzas disruptivas para generar fondos de capital y poner a disposición de nuestros clientes la mejor tecnología y los recursos monetarios necesarios para que puedan ejecutar sus proyectos de negocios en cualquier parte del mundo y en cualquier actividad económica." | translate
          }}
        </p>
      </div>
      <div>
        <h2 class="subtitle info">{{ "Valores" | translate }}</h2>
        <ul class="list">
          <li *ngFor="let item of constants.values">
            <p class="paragraph">
              {{ item | translate }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h2 class="subtitle info">
    {{ "Amenazas del contexto actual" | translate }}
  </h2>
  <div class="content-info" [class.max-height]="showMoreActive">
    <section
      class="section section-info"
      *ngFor="let data of listSectionInfo; let index = index"
    >
      <p class="paragraph">
        <b>{{ data.title | translate }}: </b>
        {{ data.description | translate }}
      </p>
      <div class="content-image" *ngIf="data.image">
        <img [src]="'assets/resources/features/' + data.image" />
      </div>
    </section>
    <!-- *PILARES DE SOLVENCIA -->
    <ng-container>
      <h2 class="subtitle info">
        {{ "Pilares de solvencia" | translate }}
      </h2>
      <div class="content-info" [class.max-height]="showMoreActive">
        <section class="section section-info">
          <div class="content-image pilares">
            <a
              [href]="'assets/pilares/pilares-' + langSelected + '.pdf'"
              download="pilares.pdf"
              [attr.title]="'Descargar PDF' | translate"
            >
              <img [src]="'assets/pilares/image-' + langSelected + '.png'" />
            </a>
          </div>
          <p class="paragraph">
            <b
              >{{ "Pilares de una nueva sociedad disruptiva" | translate }}:
            </b>
            <br />
            {{ "La filosofía del conocimiento" | translate }}
            <br />
            {{ "El acceso a la tecnología" | translate }}
            <br />
            {{ "La revolución contra lo estandarizado" | translate }}
            <br />
            {{ "El pacto con el descubrimiento" | translate }}
            <br />
            {{ "La solución con lo insurgente" | translate }}
          </p>
        </section>
      </div>
    </ng-container>
    <img
      [src]="'assets/resources/pdp-' + langSelected + '.png'"
      class="digital-platform-image"
    />
  </div>
  <button
    class="button-show-more"
    *ngIf="showMoreActive"
    (click)="showMoreActive = false"
  >
    Ver más
  </button>
</div>
