@import "variables";

.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: auto;
  min-height: 440px;
  max-height: calc(22vh + 440px);
  position: relative;
  overflow: hidden;

  @media(max-width: 1120px) {
    min-height: 440px;
    max-height: 440px;
  }
}

.wallpaper {
  width: 100%;
  z-index: -1;

  video {
    width: 100%;
    height: auto;
    min-height: 440px;
    max-height: calc(22vh + 440px);
    object-fit: cover;
    filter: brightness(.7);
    height: 100%;
    top: 0;
  }
}

.container__description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: auto;
  position: absolute;

  .title {
    color: $primary-color;
    font-size: calc(34px + 2.5vw);
    font-weight: 600;
  }

  .subtitle {
    display: block;
    margin-top: 2.5rem;
    color: #fff;
    font-weight: normal;
    max-width: 460px;
    font-size: 30px;
    max-width: 460px;
    font-weight: 500;
    text-shadow: 0 0 30px #000;
  }

  .title,
  .subtitle {
    text-align: left;
  }
}

.container-info {
  height: 100%;
  max-height: 100%;
  padding-bottom: 12rem;
  margin-top: 2rem;
}

.dfd-info {
  padding: 1rem;

  .subtitle {
    text-transform: uppercase;
    color: $primary-color;
    text-align: center;
    font-size: 35px;
    margin-bottom: 2.5rem;
  }

  .paragraph {
    text-align: center;
    font-size: 32px;
    max-width: 820px;
    margin: auto;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .content-images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    flex-direction: column;

    img {
      width: 100%;
      height: auto;
      max-width: 360px;
      margin: 1rem;
    }
  }
}

@media (min-width: 960px) {
  .dfd-info {
    .content-images {
      flex-direction: row;
    }
  }
}
