<main class="container landing-container">
  <section class="wallpaper">
    <video id="video-player" width="auto" height="auto" playsinline loop autoplay muted="true">
      <source src="assets/wallpaper.mp4" type="video/mp4" />
    </video>
  </section>
  <div class="container__description mxwd">
    <h1 class="title" @enter>DFD Corporation</h1>
    <h3 class="subtitle" @enter>
      {{ "Un nuevo modo de actuar sobre lo que es posible" | translate }}
    </h3>
  </div>
</main>
<div class="container container-info">
  <section class="mxwd">
    <div class="dfd-info">
      <div class="text">
        <h2 class="subtitle">
          {{ "Desarrollo de finanzas disruptivas" | translate }}
        </h2>
        <p class="paragraph">
          {{
            "Programas que facilitan el capital financiero para tus proyecto"
              | translate
          }}
        </p>

        <p class="paragraph extra">
          {{
            "No podemos permitirnos 'esperar el mejor momento' para tomar decisiones, empieza a construir tu futuro"
              | translate
          }}
        </p>
      </div>
      <div class="content-images">
        <img src="assets/resources/features/bunker.jpeg" alt="" />
        <img src="assets/resources/features/escalera-caracol.jpeg" alt="" />
      </div>
    </div>
  </section>
</div>
<app-services-list></app-services-list>
<app-whoami></app-whoami>
<app-purpose></app-purpose>
<!-- <app-clients></app-clients> -->
