<div class="container">
  <div class="background"></div>
  <section
    class="section"
    inViewport
    [inViewportOptions]="{ partial: true, threshold: [0, 1] }"
    (inViewportAction)="inViewPort($event)"
  >
    <h2 class="subtitle">{{ "Sobre nosotros" | translate }}</h2>
    <p class="paragraph">
      {{
        "Plataforma de excelencia financiera, innovadora y disruptiva que ayuda a
      cambiar y consolidar el capital que necesitas para la realización de tus
      proyectos." | translate
      }}
    </p>
    <button class="button-whoami" role="button" (click)="navigateAboutUsPage()">{{ "Conócenos" | translate }}</button>
  </section>
</div>
