@import "variables";

.container {
  width: 100%;
  height: 85vh;
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 75vh;
  background-image: url(../../../../../assets/resources/investment-background.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  clip-path: polygon(0 12%, 100% 0, 100% 82%, 0 92%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.section {
  background-color: #fff;
  z-index: 9;
  max-width: 940px;
  position: absolute;
  bottom: 6rem;
  padding: 4rem 3rem;
  margin: 1rem;
  opacity: 0;
  transform: translateY(7rem);
  transition: 0;

  &.in-view {
    transition: 1.5s;
    opacity: 1;
    transform: translateY(0);
  }

  .subtitle {
    font-size: 35px;
    margin-bottom: 2rem;
    color: $primary-color;
  }

  .paragraph {
    font-size: 20px;
    line-height: 30px;
  }
}

.button-whoami {
  display: block;
  margin-top: 2rem;
  min-width: 160px;
  font-size: 17px;
  height: 55px;
  border-radius: 50px;
  background: $primary-color;
  color: #fff;
}

@media (min-width: 580px) {
  .section {
    padding: 4rem 6rem;
  }
}
