@import "variables";

.language {
  position: sticky;
  top: 0;
  padding: 0 1rem;
  background-color: #fff;
  z-index: 999;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .email-link {
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 5px 10px;

    svg {
      margin-right: 10px;
      transform: scale(.6);
      fill: $black-60;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .05);
    }
  }

  .mxwd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .select {
    position: relative;

    &:hover {
      ul {
        display: block;
      }
    }

    ul {
      display: none;
      position: absolute;
      top: 40px;
      background: #fff;
      width: 160px;
      top: 34px;
      right: 0;
      z-index: 999;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: 3px;

      li {
        button {
          width: 100%;
          padding: 7px;
          background-color: rgba(0, 0, 0, 0.025);
          display: flex;
          align-items: center;
          justify-content: flex-start;

          img {
            width: 20px;
            margin-right: 1rem;
          }

          &:hover {
            background-color: rgba(0, 0, 0, .05);
          }
        }
      }
    }
  }

  .button-select {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    img {
      width: 20px;
    }

    span {
      margin: 0 8px;
    }

    svg {
      transform: scale(.45);
    }
  }
}

.container {
  position: sticky;
  top: 40px;
  width: 100%;
  height: 93px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.section-nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.content-logo {
  padding: 0 1rem;
}

.logo-image {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  min-width: 105px;
  width: 105px;
  max-width: 105px;
}

.button-nav {
  width: 90px;
  background-color: transparent;

  svg {
    fill: $black;
  }
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  top: 92px;
  left: 0;
  z-index: 999;

  .link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    user-select: none;
    text-decoration: none;
    color: $black;
    letter-spacing: 1px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.025);
      color: $primary-color;
    }

    &.active {
      background-color: rgba(0, 0, 0, 0.025);
      color: $primary-color;
    }
  }
}

.button-scroll-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 12px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  svg {
    fill: #fff;
  }
}


@media (min-width: 840px) {
  .button-nav {
    display: none;
  }

  .nav {
    position: relative;
    top: auto;
    left: auto;
    flex-direction: row;
    width: fit-content;
    padding: 0;
    background-color: transparent;

    .link {
      margin-bottom: 0 !important;
      padding: 15px;
      border-bottom: 3px solid transparent;

      &:hover {
        background-color: transparent;
        border-bottom: 3px solid $primary-color;
      }

      &.active {
        background-color: transparent;
        border-bottom: 3px solid $primary-color;
      }
    }
  }
}
