<section class="language">
  <div class="mxwd">
    <a class="email-link" href="mailto:info@dfdcorporation.com">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 12.713l-11.985-9.713h23.97l-11.985 9.713zm0 2.574l-12-9.725v15.438h24v-15.438l-12 9.725z"
        />
      </svg>
      info@dfdcorporation.com
    </a>
    <div class="select">
      <button class="button-select">
        <img
          [src]="'assets/flags/' + languageSelected + '.png'"
          alt="bandeja"
        />
        <span>
          <ng-container *ngIf="languageSelected == 'es'">Español</ng-container>
          <ng-container *ngIf="languageSelected == 'en'">Inglés</ng-container>
          <ng-container *ngIf="languageSelected == 'po'"
            >Portugués</ng-container
          >
        </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"
          />
        </svg>
      </button>
      <ul>
        <li>
          <button (click)="selectLanguage('es')">
            <img src="assets/flags/es.png" alt="españa bandera" />
            Español
          </button>
        </li>
        <li>
          <button (click)="selectLanguage('en')">
            <img src="assets/flags/en.png" alt="estados unidos bandera" />
            Inglés
          </button>
        </li>
        <li>
          <button (click)="selectLanguage('po')">
            <img src="assets/flags/po.png" alt="portugal bandera" />
            Portugués
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
<header class="container">
  <section class="section-nav mxwd">
    <a routerLink="/" class="content-logo" (click)="scrollTop()" role="button">
      <img
        src="assets/logo.png"
        class="logo-image"
        alt="logo dfd corporation"
        height="70"
        width="160"
      />
    </a>
    <button class="button-nav" (click)="toggleMenu()">
      <svg
        width="24"
        height="24"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
      >
        <path
          d="M24 18v1h-24v-1h24zm0-6v1h-24v-1h24zm0-6v1h-24v-1h24z"
          fill="#1040e2"
        />
        <path d="M24 19h-24v-1h24v1zm0-6h-24v-1h24v1zm0-6h-24v-1h24v1z" />
      </svg>
    </button>
    <nav class="nav" *ngIf="isVisibleMenu">
      <a
        routerLink="/"
        class="link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        role="button"
        (click)="scrollTop()"
      >
        {{ "Inicio" | translate }}
      </a>
      <a
        routerLink="/sobre-nosotros"
        class="link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ "Nosotros" | translate }}
      </a>
      <a
        routerLink="/servicios"
        class="link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ "Servicios" | translate }}
      </a>
      <a class="link" role="button" (click)="goToSection('contact')">
        {{ "Contacto" | translate }}
      </a>
      <!-- <a
        routerLink="/catalogo"
        class="link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ "Catálogo" | translate }}
      </a> -->
    </nav>
  </section>
</header>

<button class="button-scroll-top" (click)="scrollTop()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
  >
    <path
      d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"
    />
  </svg>
</button>
