<div class="container" id="contact">
  <section class="section">
    <div class="section__item">
      <h3 class="subtitle">{{ "Contáctanos" | translate }}</h3>
      <ul class="list">
        <li class="list__item">
          <i class="fa fa-mobile" aria-hidden="true"></i>+1 305 417 2561
        </li>
        <li class="list__item">
          <i class="fa fa-phone" aria-hidden="true"></i> +1 (305) 777-3595
        </li>
        <li class="list__item">
          <a href="mailto:info@dfdcorporation.com" class="link">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            info@dfdcorporation.com
          </a>
        </li>
      </ul>
    </div>
    <div class="section__item">
      <h3 class="subtitle">{{ "Ubícanos" | translate }}</h3>
      <ul class="list">
        <li class="list__item">
          <b> Headquarter - USA </b>
          1200 Brickell Ave STE 1800 D Miami FL 33131, USA
        </li>
      </ul>
      <ul class="list flags">
        <li class="list__item">
          <b>
            <img src="assets/flags/andino.png" alt="flag dfd corporation" />
            Andean Agency
          </b>
          <p class="paragraph">
            Av Bertoloto 610, Of 1303, San Miguel Lima, Peru
          </p>
        </li>
        <li class="list__item">
          <b>
            <img src="assets/flags/brasil.png" alt="flag dfd corporation" />
            Brasil Agency
          </b>
          <p class="paragraph">
            Av. Paulista 1471 Bela Vista Sao Paulo, Brasil
          </p>
        </li>
        <li class="list__item">
          <b>
            <img src="assets/flags/colombia.png" alt="flag dfd corporation" />
            Colombia Agency
          </b>
          <p class="paragraph">
            Carrera45 #122-56 Of 402, Edificio Argenta Bogota, Colombia
          </p>
        </li>
        <li class="list__item">
          <b>
            <img
              src="assets/flags/medio-oriente.png"
              alt="flag dfd corporation"
            />
            Middle East Agency
          </b>
          <p class="paragraph">
            P.O. Box: 283, Postal Code: 116 Office No 506 @ 5th Floor The
            Office. Al-Ghubrah Street. Muscat, Sultanate of Oman
          </p>
        </li>
        <li class="list__item">
          <b>
            <img src="assets/flags/suriname.png" alt="flag dfd corporation" />
            Suriname Agency
          </b>
          <p class="paragraph">Marcusstraat 13, Paramaribo. Suriname</p>
        </li>
      </ul>
    </div>
  </section>
</div>
