@import "variables";

.container {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../../../assets/resources/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // filter: brightness(50%);
    opacity: .7;
    z-index: -1;
  }
}

.section {
  padding: 3rem 1rem;
}

.section__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  .subtitle {
    color: $black;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 1rem;
    color: $primary-color;
  }

  .list {
    &.flags {
      display: flex;
      gap: 2rem;
      margin: auto;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 70vw;
      margin-top: 3rem;

      .list__item {
        max-width: 240px;

        b {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: .5rem;
        }
      }
    }

    &__item:not(:last-child) {
      margin-bottom: .5rem;
    }

    &__item,
    &__item a {
      color: $black;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;

      i {
        margin-right: 1rem;
        color: $black;
      }
    }

    &__item a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }

    &__item {
      b {
        img {
          width: 100%;
          max-width: 140px;
          height: auto
        }
      }
    }
  }
}
