@import "variables";

.container {
  padding: 8rem 2rem;
  padding-bottom: 15rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -13rem;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  color: $primary-color;
}

.list {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 360px;
  grid-gap: 5rem;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  transform: translateY(10rem);
  transition: 0;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
    transition: 1.5s;
  }
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:hover {
    .icon {
      background-color: $primary-color;
    }

    .subtitle {
      color: $primary-color;
    }
  }

  .paragraph {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
  }

  .icon {
    padding: 1rem;
    background: $black-60;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    transition: .2s;



    i {
      color: #fff;
      font-size: 45px;
    }
  }

  .subtitle {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

@media (min-width: 840px) and (max-width: 1419px) {
  .list {
    grid-template-columns: repeat(2, 360px);
  }

  .list__item:nth-child(3) {
    transform: translateX(14rem);
  }
}

@media (min-width: 1420px) {
  .list {
    grid-template-columns: repeat(3, 360px);
  }
}
