<div class="container">
  <section class="section">
    <h2 class="title">{{ "Productos y servicios" | translate }}</h2>
    <ul
      class="list"
      inViewport
      [inViewportOptions]="{ partial: true, threshold: [0, 1] }"
      (inViewportAction)="inViewPort($event)"
    >
      <li class="list__item" *ngFor="let data of serviceList">
        <div class="icon">
          <i [class]="'fa' + ' ' + data.icon" aria-hidden="true"></i>
        </div>
        <!-- <h3 class="subtitle">Servicio 01</h3> -->
        <p class="paragraph">
          {{ data.desc | translate }}
        </p>
      </li>
    </ul>
  </section>
</div>
