<ngx-loading-bar
  color="#FF9800"
  [includeSpinner]="false"
  [fixed]="true"
  height="3px"
></ngx-loading-bar>
<app-navmenu></app-navmenu>
<router-outlet></router-outlet>
<app-contact></app-contact>
<app-footer></app-footer>
