<section class="container">
  <div
    class="mxwd section"
    inViewport
    [inViewportOptions]="{ partial: true, threshold: [0, 1] }"
    (inViewportAction)="inViewPort($event)"
  >
    <div class="info">
      <h1 class="title">{{ "Nuestro propósito" | translate }}</h1>
      <p class="paragraph">
        {{
          "Hacer negocios en las finanzas disruptivas para otorgarte la alternativa
        de usar las mismas en favor de tus proyectos"
            | translate
        }}
      </p>
    </div>
    <ul class="list">
      <li
        class="list__item"
        *ngFor="let data of purposeList; let index = index"
      >
        <div class="list__item--info">
          <h4 class="list__item--title">{{ data.title | translate }}</h4>
          <p class="paragraph">
            {{ data.description | translate }}
          </p>
          <!-- <button class="button-navigate">
           {{ "Ver más" | translate }}
          </button> -->
        </div>
        <img
          [src]="'assets/resources/features/' + data.image"
          [attr.alt]="data.image"
        />
      </li>
    </ul>

    <div class="team">
      <h2 class="subtitle">
        {{ "Acercamiento Lideres del Equipo" | translate }}
      </h2>
      <p class="paragraph">
        {{
          "Creemos que cuando hay colaboración, pueden suceder cosas extraordinarias, Las ideas encuentran formas de prosperar. Las empresas encuentran recursos para expandirse. Se abren oportunidades. Las relaciones se consolidan. El ecosistema se desarrolla."
            | translate
        }}
      </p>
      <ul class="team__list">
        <li class="team__list--item" *ngFor="let data of teamList">
          <div class="team__desc">
            <h4 class="name">
              {{ data.name }}
            </h4>
            <p class="paragraph">
              {{ data.desc | translate }}
            </p>
          </div>
          <img
            [src]="'assets/team/' + data.image"
            [attr.alt]="data.desc"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
