@import "variables";

.container {
  padding: 6rem 0;
  padding-top: 3rem;
  z-index: -3;
  background: transparent;
}

.info {
  .title {
    width: fit-content;
    text-align: center;
    margin: 0 auto 3rem auto;
    font-size: 44px;
    color: $primary-color;
  }

  .paragraph {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 3rem;
    max-width: 730px;
    margin: auto;
    margin-bottom: 7rem;
  }
}

.section {
  padding: 2rem;
  transition: 0;
  opacity: 0;

  &.in-view {
    transition: 2.5s;
    opacity: 1;

    .list {
      transition: 2s;
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

.list {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 380px;
  grid-gap: 1rem;
  margin: auto;
  max-width: 820px;
  opacity: 0;
  transition: 0;
  transform: translateY(100px) scale(0.8);
}

.list__item {
  position: relative;
  padding: 2rem;
  border-radius: 3px;
  transition: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-end;

  &--title {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 25px;
    color: $primary-color;
  }

  .paragraph {
    font-size: 18px;
    line-height: 25px;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 190px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  &--info {
    text-align: center;
  }

  .button-navigate {
    background: $primary-color;
    height: 45px;
    min-width: 130px;
    padding: 10px;
    margin: 0;
    margin-top: 2rem;
    border-radius: 50px;
    font-size: 16px;
    margin-left: auto;
    margin-right: 0;
    display: block;
    color: #fff;

    // ICON
    width: 45px;
    border-radius: 5px;
    height: 40px;
    min-width: auto;

    i {
      color: #fff;
    }
  }
}

@media (min-width: 780px) {
  .list {
    grid-template-columns: repeat(2, 360px);
    grid-gap: 2rem;
  }

  .list__item {
    height: 100%;
  }
}

.team {
  margin-top: 6rem;

  .subtitle {
    width: fit-content;
    text-align: center;
    margin: 0 auto 3rem auto;
    font-size: 44px;
    color: $primary-color;
  }

  & > .paragraph {
    text-align: center;
    font-size: 23px;
    max-width: 720px;
    margin: auto;
    margin-bottom: 3rem;
    line-height: 30px;
  }
}

.team__list {
  display: grid;
  gap: 2rem;
  grid-template-columns: 360px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 4rem;

  &--item {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      max-width: 360px;
      margin: auto;
      margin-bottom: 1.5rem;
      max-height: 290px;
      height: 100%;
      object-fit: contain;
    }

    .team__desc {
      width: 100%;
      text-align: center;
      box-shadow: 0 0 30px 52px $gray;
      z-index: 9;

      .name {
        color: $primary-color;
        font-size: 25px;
        margin-bottom: 0.5rem;
      }

      .paragraph {
        font-size: 21px;
      }
    }
  }
}

@media (min-width: 900px) {
  .team__list {
    grid-gap: 4rem;
    grid-template-columns: repeat(2, 360px);
  }
}

@media (min-width: 1400px) {
  .team__list {
    grid-gap: 4rem;
    grid-template-columns: repeat(4, 300px);
  }
}

@media (min-width: 980px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    width: 100%;
    max-width: 100%;

    &__item {
      &--title {
        font-size: 32px;
      }

      &--info {
        border-radius: 5px;
        text-align: left;
        background: $gray;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 39px 47px $gray;
        max-width: 100%;
        padding: 0;
      }

      img {
        min-height: 280px;
        max-height: 280px;
        width: 100%;
        min-width: 100%;
      }
    }
  }
}
