@import "variables";

.logo-dfd {
  margin-top: 1.5rem;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  min-width: 320px;
  width: 320px;
  max-width: 320px;
}

.dev {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #fff;
  padding: 5px 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: $black;
  font-size: 11px;

  a {
    color: $black;
    text-decoration: underline;
  }
}

.content {
  background-color: #fff;
  padding: 3rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.mxwd {
  z-index: 1;
  width: 100%;
}

.content__group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.desc {
  color: $black;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}

.group__info {
  .subtitle {
    margin-bottom: 0.75rem;
    color: $primary-color;
    font-weight: 500;
  }

  .list {
    list-style: none;

    .list__item {
      color: $black;
      font-size: 15px;
      line-height: 22px;

      display: flex;
      align-content: center;
      justify-content: flex-start;

      i {
        color: $black-60;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        text-decoration: none;
        color: $black;
      }

      .social-link {
        display: flex;
        align-items: center;


        svg {
          fill: rgba(0, 0, 0, 0.65);
          margin-right: 10px;
        }
      }
    }

    &-social {
      width: fit-content;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }

}

.extra {
  margin-top: 1rem;

  small {
    color: rgba(255, 255, 255, 0.7);
  }
}

.list-services {
  li:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.list-contacts {
  margin-bottom: 2rem;

  .list__item:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.content-attrib {
  margin-right: 2rem;
}

.list-attrib {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 390px;
  grid-gap: 0.5rem;
}

.languaje-subtitle {
  margin-top: 2rem;

  &+.list {
    li {
      button {
        color: $black;
        font-size: 16px;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

@media (min-width: 680px) {
  .content__group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {
  .content__group {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 920px) {
  .mxwd {
    display: flex;
    flex-direction: row;
  }
}
