<div class="container">
  <div class="content-title">
    <h2 class="title mxwd">{{ "Productos y servicios" | translate }}</h2>
    <div class="background"></div>
  </div>
  <section class="section" *ngFor="let data of serviceList">
    <p class="paragraph">
      {{ data.desc | translate }}
    </p>
    <div class="content-image">
      <img [src]="'assets/resources/'+data.image" [attr.alt]="data.image" />
    </div>
  </section>
</div>
