@import "variables";

.container {
  width: 100%;
}

.background {
  background-image: url(../../../assets/resources/saludo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  width: 100%;
  height: 450px;
  filter: brightness(70%);
}

.content-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    position: absolute;
    z-index: 9;
    color: #fff;
    font-weight: 500;
    font-size: 55px;
    width: 100%;
    padding: 1rem;

    &::after {
      content: "";
      display: block;
      width: 150px;
      height: 5px;
      margin-top: 3rem;
      background-color: $primary-color;
    }
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 5rem 2rem;

  .content-image {
    display: none;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 200px 1px 134px -51px rgba(245, 245, 245, 1) inset;
    }
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .content-image {
      &::after {
        box-shadow: -200px 7px 108px -23px rgba(245, 245, 245, 1) inset;
      }
    }
  }

  img {
    width: 100%;
    min-width: 35vw;
    max-width: 720px;
    height: 100%;
    max-height: 550px;


  }

  .paragraph {
    font-size: calc(18px + 1.8vw);
    line-height: calc(18px + 2.7vw);
    display: block;
    max-width: 642px;
    padding: 2rem;
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 5rem 2rem;

    .paragraph {
      font-size: 35px;
      line-height: 50px;
      padding: 4rem;
      text-align: left;
      min-width: calc(640px + 7vw);
    }

    .content-image {
      display: block;
    }
  }
}
